{% extends "app/layout.html" %}
{% block content %}
<style>
html, body {
  height: 100%;
  margin: 0;
}

.hero {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 100px;       
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.center-box {
  max-width: 960px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card {
  text-align: center;
  align-items: center;
}

.card img {
  width: 50%;
  border-radius: 6px;
}

.card h2 {
  margin-top: 10px;
  font-size: 20px;
}

.card p {
  color: #555;
}
</style>

<div class="hero"></div>

<div class="container">
  <main class="center-box">
    <div class="card">
      <img src="/media/icon-11.png" alt="Engage">
      <h2>Quek Jing Xiang</h2>
      <p>Team Leader & Lead Developer</p>
    </div>
    <div class="card">
      <img src="/media/icon-11.png" alt="Hub">
      <h2>Ong Zi Xuan</h2>
      <p>Lead Back-end Developer</p>
    </div>
    <div class="card">
      <img src="/media/icon-11.png" alt="Analytics">
      <h2>Bryan Leow</h2>
      <p>Lead Front-end Developer</p>
    </div>
    <div class="card">
      <img src="/media/icon-11.png" alt="Track">
      <h2>Low Mun Kit</h2>
      <p>Front-end and Back-end</p>
    </div>
  </main>
</div>

{% endblock %}
