{% extends "app/layout.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
  <div class="col-md-10 col-md12 mx-auto mt-t">
    <h1 class="page-title">Report List</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Report</th>
          <th scope="col">Date</th>
        </tr>
      </thead>

      <tbody>
        {% if reports %}
          {% for report in reports %}
            <tr style="transform: rotate(0)">
              <th scope="row"><a href="{% url 'coordinator_reportdetail' %}?id={{ report.id }}" class="stretched-link">{{ report.title }}</a></th>
              <td>{{ report.created_at }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
