{% extends "app/layout.html" %} {% load django_bootstrap5 %} {% block title %}
Report an issue {% endblock %} {% block content %} 
<form
  action=""
  method="POST"
  action="{% url 'report' %}"
  enctype="multipart/form-data"
>
  
  {% csrf_token %} {% bootstrap_form form layout=layout size=size %}
  <input type="hidden" name="loc_lat" id="loc_lat"></input>
  <input type="hidden" name="loc_lng" id="loc_lng"></input>
  <button type="button" class="btn btn-secondary" id="locBtn">Get location</button>
  <button class="btn btn-primary" type="submit" id="submitBtn" disabled>Submit</button>
</form>



<script>
  const btn = document.getElementById("locBtn");
  const submitBtn = document.getElementById("submitBtn");
  const lat = document.getElementById("loc_lat");
  const lng = document.getElementById("loc_lng");

  btn.addEventListener("click", function () {
    btn.innerText = 'Loading...';
    navigator.geolocation.getCurrentPosition(success, error);
  });

  function success(pos) {
    console.log(pos);
    lat.value = pos.coords.latitude;
    lng.value = pos.coords.longitude;
    submitBtn.disabled = false;
    console.log(pos.coords.latitude, " ", pos.coords.longitude);
    btn.innerText = 'Get location';
  }

  function error() {
    alert("Sorry, no position available.");
    btn.innerText = 'Get location';
  }
</script>
 {% endblock %}
